/* .right-side {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
/* .right-side div img {
  width: 35%;
} */
.right-side .paste-pro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
  padding: 10px;
}
.right-side .paste-pro .product-image {
  height: 300px;
  width: 95%;
}
.right-side {
  margin: 30px;
  /* background-color: yellow; */
  border: 1px solid black;
}
.right-side .paginate-page {
  display: flex;
  flex-direction: row;
}

.right-side .paste-pro .card {
  height: 400px;
  overflow: hidden;
}
